body {
    margin: auto !important;
    background-color:#667274  !important;
    /*background-color: white;*/
}

.full-width {
    width:100%;
    text-align: center;
    margin: 5px 0;
}


.status {
    width: 224px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-family: "Helvetica Neue" "Arial" sans;
}

#header {
    color: white;
    font-size: 1.8em;
    padding: 0px;
    background-color: #0E4653;
    text-align: center;
    //margin: 0;
}

#footer {
    text-align: center;
    background-color: #0E4653;
}

#footer h2 {
    margin: 0;
    padding: 5px 0 3px 0;
    font-size: 20px;
    color: white;
}

#footer :nth-child(2) {
    padding: 0;
    font-size: 14px;
    color: #ffffff;
}

#footer :nth-child(3) {
    font-size: 12px;
    font-style: italic;
    padding: 0;
    color: #ffffff;
}

#footer :nth-child(3) a {
    font-size: 12px;
    color: #aaaaff;
    text-decoration: underline;
}

#game-container {
    position: relative;
    background-color: #2A5077;
}


@keyframes pulse {
  from {
      font-size: 1em;
      opacity: 0.75;
  }
  50% {
      font-size: 1.5em;
      opacity: 1.0;
  }
  to {
    font-size: 1em;
    opacity: 0.75;
  }
}

.pulsed {

    /*-webkit-animation-name: webkit-pulse; */
            animation-name: pulse;
    /* -webkit-animation-duration: 0.5s; */
            animation-duration: 0.5s;
    /* -webkit-animation-iteration-count: 5; */
            animation-iteration-count: 5;
}

.pad {
    cursor:pointer;
}

.numb {
    pointer-events: none;
}

/* spinner buttons and numeric input */
.spinner button {
    background-color: #048;
    font-size: 18px;
    color: white;
    width: 40px;
    vertical-align: middle
    /*border-color: teal; */
    cursor: pointer;
}

input.num {
    font-size: 30px;
    width: 40px;
    background-color: "#ffffff";
    border: none;
    box-sizing: border-box;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
